* {
    margin: 0;
    padding: 0;
}

.but{
    background-color: rgb(75, 73, 74);
    width:300px ;
    height: 300px;
display: flex;
   align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.main{
    display: flex;
        justify-content: center;
        height:100vh;
        align-items: center;
        background-color: rgb(42, 60, 36);
} 
.but button{
    background-color:rgb(25, 25, 52);
    color:white;
    width:120px;
    height:30px;
}
.hea{
    color:rgb(0, 0, 0);
   margin-top:10px;
}


